# Aeries Parent Portal Session Cookie
# To get this value:
# 1. Log into https://tustinusd.aeries.net/student/ in your browser
# 2. Open DevTools (Cmd+Option+I) > Network tab
# 3. Reload the page, click any GetClassSummary request
# 4. Click Headers tab > scroll to Request Headers > copy the full Cookie value
#
# The cookie will look like: s=abc123; _pk_ref...; UserTimeZone=...; AeriesNet=...; a=LONGTOKEN...
AERIES_SESSION_COOKIE=paste_full_cookie_string_here

# Student IDs (visible in the AeriesNet cookie or portal URLs)
# Format: LastSC_0=schoolcode&LastSN_0=studentnum&LastID_0=studentid
STUDENT_1_ID=19003012
STUDENT_1_NAME=Kid1FirstName
STUDENT_1_SCHOOL_CODE=95

STUDENT_2_ID=20004859
STUDENT_2_NAME=Kid2FirstName
STUDENT_2_SCHOOL_CODE=95
